<% content_for :title, "Resend confirmation" %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<div class="submission-form" id="resend-confirmation-form">

	<%= form_for(resource, as: resource_name, url: resend_confirmation_path, html: { method: :post }) do |f| %>
		<h2 class="heading">Resend confirmation instructions</h2>

	    <div class="form-input-box">
	    	<ul class="form-inputs">

        		<li class="form-element">
					<div class="field">
            			<div class="form-label">
							<%= f.label :email %>
						</div>
            			<div class="form-input">
							<%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
						</div>
					</div>
				</li>

        		<li class="form-element">
					<div class="actions">
			    		<%= f.submit "Resend confirmation instructions" %>
			    	</div>
			    </li>
			</ul>
		</div>
	<% end %>

	<%= render "users/shared/links" %>
</div>