<div class="user-form" id="signup-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="heading">Sign up</h2>

    <div class="user-form-input-area">
      <ul class="user-inputs">
        <li class="form-element">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </li>

        <li class="form-element">
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </li>

        <li class="form-element">
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </li>

        <li class="form-element">
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        </li>
      </ul>

    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>