<div class="datetime">
	<ul class="actions">
		<% if can_edit(article) %>
			<% if @show_pin_option %>
				<li><%= link_to "📌 Pin to top", sticky_article_path(article), method: "post" %></li>
			<% end %>
			<li><%= link_to "📝 Edit", edit_article_path(article) %></li>
			<li><%= link_to "❌ Remove", article, method: "delete", class: "deletion-link" %></li>
		<% end %>
		<li><%= link_to "👉 #{article.status.timeline_time.strftime("%d %b %Y")}", article_path(article, anchor: article.reply_to ? "article-page-display" : nil) %></li>
	</ul>
</div>
<%= yield :pinned %>
<% if article.reply_to %>
	<div>↩️ Reply to <%= link_to article.reply_to.authored_by, (article.reply_to.anonymous ? nil : article.reply_to.user) %></div>
<% end %>
<%= render 'statuses/article', article: article %>
<% if article.pages.count>1 %>
	Page 1/<%= article.pages.count %> <%= link_to "Next page ➡️", show_page_article_path(article,2, anchor: article.reply_to ? 'article-page-display' : nil) %>
<% end %>
<div class="action-menu">
	<ul class="actions left-actions">
		<%= render 'shared/article_actions', article: article, placement: :on_status %>
	</ul>
</div>