<div class="landmark article-identifier"><%= article.id %></div>
<%= render 'articles/action_menu', article: article %>
<%= yield :pinned %>
<% if false && article.reply_to %>
	<div>↩️ Reply to <%= link_to article.reply_to.authored_by, (article.reply_to.anonymous ? nil : article.reply_to.user) %></div>
<% end %>
<%= render 'statuses/article', article: article %>
<div class="action-menu">
	<ul class="list-actions left-actions">
		<%= render 'shared/article_actions', article: article, placement: :on_status %>
	</ul>
</div>