<li class="status<%= media_type_class status %>">
	<% if status.post_type == "Article" %>
		<div class="article-page-display">
			<%= render 'statuses/article_listing', article: status.article %>
		</div>
	<% else %>
		<% if status.user==current_user %>
			<ul class="datetime list-actions right-actions">
				<li><%= link_to "Edit", edit_signal_boost_path(status.signal_boost) %></li>
				<li><%= link_to "Remove", status.signal_boost, method: "delete" %></li>
			</ul>
		<% end %>
		<h4 class="heading byline status-boost">
			📣 Signal boosted
			<% unless @user == status.user %>
				by       <%= link_to status.user.name, status.user, class: 'user-name-listing' %>
			<% end %>
		</h4>
		<h3 class="landmark page-landmark">Begin quotation</h3>
		<div class="status-quotation">
			<% if status.signal_boost.origin %>
				<%= render 'statuses/article_listing', article: status.signal_boost.origin %>
			<% else %>
				(This post has been deleted.)
			<% end %>
		</div>
		<% if status.signal_boost.comment.present? %>
			<p class="signal-boost-comment"><%= render 'articles/content', content: status.signal_boost.comment %></p>
		<% end %>
		<div class="status-quotation reply-placeholder">
			<%= render 'shared/posting_form', reply_to: status.signal_boost.origin, placeholder: "Post reply here...", boost: status.id %>
		</div>
	<% end %>
</li>
<% if status.post_type == "Article" %>
	<li class="reply-placeholder">
		<%= render 'shared/posting_form', reply_to: status.post, placeholder: "Post reply here..." %>
	</li>
	<% if status.article.reply_number > 0 %>
		<%= render partial: 'articles/reply_entry', collection: status.article.thread_posts.order(:created_at).last(params[:thread_id] ? nil : 5) %>
	<% end %>
<% end %>