<div class="submission-form" id="post-drawing-form">
  <%= form_for(@drawing, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
    <h2 class="heading"><%= form_title %></h2>

    <p class="required form-notice">*Required information</p>

    <div class="form-input-box">
      <ul class="form-inputs clear">
        <li class="form-element">
          <div class="field">
            <div class="form-label required">
              <%= f.label :rating, "Rating*" %>
            </div>
            <div class="form-input">
              <%= f.select :rating, Drawing.ratings.keys.map{ |r| [r.humanize, r] } %>
            </div>
            <div class="form-label required">
              <%= f.label :title, "Title*" %>
            </div>
            <div class="form-input">
              <%= f.text_field :title %>
              <%= render 'shared/character_counter', max_length: Drawing.validators_on(:title)[1].options[:maximum], counter_id: "title_counter", input_field: "input#drawing_title" %>
            </div>
            <div class="form-label required">
              <%= f.label :drawing, "Drawing*" %>
            </div>
            <div class="form-input">
              <%= f.file_field :drawing, accept: 'image/jpeg,image/gif,image/png' %>
            </div>
            <div class="form-label">
              <%= f.label :caption %>
            </div>
            <div class="form-input">
              <%= f.text_area :caption %>
              <%= render 'shared/character_counter', max_length: Drawing.validators_on(:caption)[0].options[:maximum], counter_id: "caption_counter", input_field: "textarea#drawing_caption" %>
            </div>
            <div class="form-label">
              <%= f.label :orientation %>
            </div>
            <div class="form-input">
              <%= f.radio_button :orientation, "screen" %><%= f.label :orientation_screen, "Fit to screen" %>
              <%= f.radio_button :orientation, "column" %><%= f.label :orientation_column, "Fit to column" %>
            </div>
            <div class="form-label required">
              <%= f.label :fandoms, "Fandoms*" %>
            </div>
            <div class="form-input">
              <%= f.text_field :fandom_list, value: f.object.fandom_list.to_s %>
            </div>
            <div class="form-label">
              <%= f.label :characters %>
            </div>
            <div class="form-input">
              <%= f.text_field :character_list, value: f.object.character_list.to_s %>
            </div>
            <div class="form-label">
              <%= f.label :relationships %>
            </div>
            <div class="form-input">
              <%= f.text_field :relationship_list, value: f.object.relationship_list.to_s %>
            </div>
            <div class="form-label">
              <%= f.label :'Additional tags' %>
            </div>
            <div class="form-input">
              <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>
            </div>
            <div class="form-label">
              <%= f.label :authorship %>
            </div>
            <div class="form-input">
                <%= f.radio_button :authorship, "own" %><%= label_tag :authorship_own, "This is my own work" %>
                <%= f.radio_button :authorship, "scanlation" %><%= label_tag :authorship_scanlation, "This is a translation or a repost of another's work" %>
            </div>
            <div id="authorship-inputs">
              <div class="form-label">
                <%= f.label :'Original authors' %>
              </div>
              <div class="form-input">
                <%= f.text_field :author_list, value: f.object.author_list.to_s %>
              </div>
              <script>
                $(document).ready(function() {
                  var changeAuthorshipInputDisplay = function() {
                    if ( $("#drawing_authorship_scanlation").is(":checked") ) {
                      $("#authorship-inputs").show();
                    }
                    else {
                      $("#authorship-inputs").hide();
                    }
                  }
                  $("input[name$='drawing[authorship]']").on( "change", changeAuthorshipInputDisplay);
                  changeAuthorshipInputDisplay();
                });
              </script>
            </div>
          </div>
        </li>
        <li class="form-element">
          <div class="actions">
            <%= f.submit submit_button %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

</div>