<%= render 'shared/flash_messages' %>
<%= render 'shared/work_headings' %>
<div class="page-display">
	<%= image_tag @drawing.drawing.url, class: "normal-display" %>
</div>
<%= render 'shared/action_menu_bottom' %>
<%= render 'shared/kudos_display', work: @drawing %>
<%= render 'shared/comment_form', commentable: @drawing %>
<%= render 'shared/comments', comments: @comments %>