<% provide(:title, "Add page to article") %>
<div class="submission-form" id="post-drawing-form">
  <%= form_for(@page, html: { multipart: true }, url: add_page_article_path(@article)) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: @article %>
    <%= render 'articles/edit_menu', article: @article %>
    <h2 class="heading">New page</h2>

    <div class="form-input-box posting-form-unit">
      <% unless @article.user %>
        <%= fields_for :article do |a| %>
          <ul class="form-inputs clear">
            <li class="form-element">
              <div class="field">
                <div class="form-label">
                  <%= a.label :editing_password %>
                </div>
                <div class="form-input">
                  <%= a.text_field :editing_password, value: cookies[:editing_password] %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
      <ul class="form-inputs clear">
        <li class="form-element">
          <div class="field">
            <div class="form-label">
              <%= f.label :title %>
            </div>
            <div class="form-input">
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :content %>
            </div>
            <div class="form-input">
              <%= f.text_area :content, placeholder: "New page content here...", class: "page-content-input" %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :picture_label, "Picture(s)" %>
            </div>
            <div class="form-input file-input-area">
              <div class="preview-area"></div>
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "new-post-pictures" %>
              <%= f.label :picture, "Choose picture(s)", class: "file-upload-label edit-form-buttons hidden-label" %>
              <%= fields_for(:options) do |o| %>
                <%= o.check_box :new_pages, class: "new-page-option", checked: true %>
                <%= o.label :new_pages, "Put additional images in new pages", class: "in-edit-form new-pages-option-label" %>
              <% end %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :page_number %>
            </div>
            <div class="form-input">
              <%= f.text_field :page_number, class: "pages", value: params[:page_number] || params[:page][:page_number] %>
            </div>
          </div>
        </li>
        <li class="form-element">
          <div class="actions">
            <%= f.submit "Post", class: "submit-button" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

</div>