<% content_for :title, "Log in" %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<div class="breezy-form" id="signin-form">

  <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
    <h2 class="heading">Welcome back</h2>

    <div class="form-inputs-contianer">
      <ul class="form-inputs">
        <li class="form-element">
          <div class="field">
            <div class="form-input">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
            </div>
          </div>
        </li>

        <li class="form-element">
          <div class="field">
            <div class="form-input">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
            </div>
          </div>
        </li>

        <% if devise_mapping.rememberable? -%>
          <li class="form-element">
            <div class="field">
              <div class="form-label">
                <%= f.label :remember_me %>
              </div>
              <div class="form-input">
                <%= f.check_box :remember_me %>
              </div>
            </div>
          </li>
        <% end -%>

        <li class="form-element">
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
