<% if article.pages_count > 1 %>
	<% if page.page_number > 1 %>
		<%= link_to "⬅️", show_page_article_path(article, page.page_number-1), class: "page-navigator previous-page-arrow" %>
	<% else %>
		<%= link_to "⬅️", show_page_article_path(article, page.page_number), class: "arrow-placeholder page-navigator previous-page-arrow" %>
	<% end %>
	Page <span class="current-page-display"><%= page.page_number %></span>/<%= article.current_max_page %>
	<% if page.page_number < article.pages_count %>
		<%= link_to "➡️", show_page_article_path(article, page.page_number+1), class: "page-navigator next-page-arrow" %>
	<% else %>
		<%= link_to "➡️", show_page_article_path(article, page.page_number), class: "arrow-placeholder page-navigator next-page-arrow" %>
	<% end %>
<% end %>