<% provide(:title, "Edit article") %>
<%= render 'shared/flash_messages' %>
<div class="submission-form" id="post-drawing-form">
  <%= form_for(@article, html: { multipart: true }) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: @page %>
    <%= render 'edit_menu', article: @article %>
    <h2 class="heading">Edit article</h2>

    <div class="form-input-box posting-form-unit">
      <% unless @article.user %>
        <ul class="form-inputs clear">
          <li class="form-element">
            <div class="field">
              <div class="form-label">
                <%= f.label :editing_password %>
              </div>
              <div class="form-input">
                <%= f.text_field :editing_password, value: cookies[:editing_password] %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
      <h3 class="form-heading">Edit page <%= @page_number %></h3>
      <%= fields_for :page do |pp| %>
        <%= pp.hidden_field :page_number %>
        <ul class="form-inputs clear">
          <li class="form-element">
            <div class="field">
              <div class="form-label">
                <%= pp.label :page_title %>
              </div>
              <div class="form-input">
                <%= pp.text_field :title %>
              </div>
            </div>
          </li>
          <li class="form-element">
            <div class="field">
              <div class="form-label">
                <%= pp.label :page_content %>
              </div>
              <div class="form-input">
                <%= pp.text_area :content, placeholder: "Page content here...", class: "page-content-input" %>
              </div>
            </div>
          </li>
          <li class="form-element">
            <div class="field">
              <div class="form-label">
                <%= pp.label :picture_label, "Add picture(s) to page" %>
              </div>
              <div class="form-input file-input-area">
                <div class="preview-area"></div>
                <%= pp.file_field :picture, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "new-post-pictures" %>
                <%= pp.label :picture, "Choose picture(s)", class: "file-upload-label edit-form-buttons hidden-label" %>
              </div>
            </div>
          </li>
          <li class="form-element">
            <div class="actions">
              <%= f.submit "Update", class: "submit-button" %>
            </div>
          </li>
        </ul>
      <% end %>

      <h3 class="form-heading">Edit article details</h3>
      <ul class="form-inputs clear">
        <li class="form-element">
          <div class="field">
            <div class="form-label">
              <%= f.label :title %>
            </div>
            <div class="form-input">
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :description %>
            </div>
            <div class="form-input">
              <%= f.text_area :description %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :planned_pages, "Planned number of pages" %>
            </div>
            <div class="form-input">
              <%= f.text_field :planned_pages, class: "pages" %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :media %>
            </div>
            <div class="form-input media-type-listing edit-form-media-type-listing">
              <span class="media-option"><%= f.radio_button :media, 'Status', checked: @article.media.name=='Status' %> <%= f.label :status, for: "article_media_status" %></span>
              <span class="media-option"><%= f.radio_button :media, 'Story', checked: @article.media.name=='Story', class: "tags-media-story" %> <%= f.label :story, for: "article_media_story" %></span>
              <span class="media-option"><%= f.radio_button :media, 'Drawing(s)', checked: @article.media.name=='Drawing(s)', class: "tags-media-drawing", id: "article_media_drawing" %> <%= f.label :drawing, "Drawing(s)", for: "article_media_drawing" %></span>
              <span class="media-option"><%= f.radio_button :media, 'Comic', checked: @article.media.name=='Comic', class: "tags-media-comic" %> <%= f.label :comic, for: "article_media_comic" %></span>
            </div>
          </div>
          <% ArticleTag.tag_box_contexts.each do |context| %>
            <div class="field">
              <div class="form-label">
                <%= f.label context[:name] %>
              </div>
              <div class="form-input">
                <%= f.text_field context[:context], class: "tags-input-field", data: { tagify: true, context: context[:context] } %>
              </div>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Update", class: "submit-button" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

</div>

<h2 class="heading">List of pages</h2>

<ul class="edit-page-listing">
  <% @article.pages.each do |page| %>
    <li class="page-listing-entry">
      <span><%= page_title(page) %></span>
      <ul class="page-management actions">
        <li><%= link_to "Edit", edit_article_path(@article, page_number: page.page_number) %></li>
        <% if @article.pages.count > 1 %>
          <li><%= link_to "Delete", remove_page_article_path(@article,page.page_number), method: :delete %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>