<% if params[:board] %>
	<% provide(:title, "/#{params[:board]}/") %>
<% elsif params[:thread_id] %>
	<% provide(:title, @thread.title.present? ? @thread.title : "/#{@board}/") %>
<% else %>
	<% provide(:title, "Posts tagged with #{@tag_list.join(', ')}") %>
<% end %>
<%= render 'shared/flash_messages' %>
<% if @board %>
	<%= link_to "Return to /#{@board}/", board_path(@board) %>
<% end %>
<%= render 'shared/posting_form', reply_to: @thread ? @thread : nil, default_fandom: params[:board] %>
<div class="statuspage-content">
	<div class="status-area">
		<% if @tag_list.present? %>
			<div class="results-count"><h2 class="heading"><%= @statuses.total_entries %> posts in <%= tags_heading(@tag_list) %></h2></div>
		<% end %>
		<ol class="status-list">
			<%= render @statuses %>
		</ol>
		<% unless params[:thread_id] %>
			<%= will_paginate @statuses, class: "pagination actions", param_name: :page %>
		<% end %>
	</div>
	<% unless params[:thread_id] || params[:board] %>
		<%= render 'layouts/tags_area', path_helper: :articles_path %>
	<% end %>
</div>