<% if comics.any? %>
	<div class="module">
		<h2 class="heading"><%= fancomics_heading %></h3>
		<%= will_paginate comics, class: "pagination actions", param_name: :comics_page %>
		<%= render 'shared/comics_list', comics: comics %>
		<%= will_paginate comics, class: "pagination actions", param_name: :comics_page %>
	</div>
<% end %>
<% if drawings.any? %>
	<div class="module">
		<h2 class="heading"><%= fanart_heading %></h3>
		<%= will_paginate drawings, class: "pagination actions", param_name: :drawings_page %>
		<%= render 'shared/drawings_list', drawings: drawings %>
		<%= will_paginate drawings, class: "pagination actions", param_name: :drawings_page %>
	</div>
<% end %>