<table align="center">
	<tr>
		<% if @user %>
			<td valign="middle" style="vertcal-align: middle">
				<%= link_to user_url(@user) do %>
					<% if @user && @user.icon && @user.icon.url %>
						<%= image_tag @user.icon.url %>
					<% else %>
						<%= image_tag image_url('default_icon.png'), style: "float: left" %>
					<% end %>
				<% end %>
			</td>
		<% end %>
		<td valign="middle" style="vertcal-align: middle">
			<% if @user %>
				<b><%= link_to @user.name, user_url(@user) %></b>
			<% else %>
				A guest
			<% end %> has posted a reply to <%= link_to (@reply_to.title.present? ? @reply_to.title : "your submission"), article_url(@reply_to) %>. See the reply <%= link_to "here", article_url(@reply) %>!
		</td>
	</tr>
</p>
