<% provide(:title, "Change password user") %>
<%= render 'shared/flash_messages' %>
<%= render 'shared/error_messages', object: @user %>

<%= render 'user_header' %>
<div class="edit-user-form-header">
	<h3 class="heading">Edit my profile</h3>
	<%= render 'user_setting_navigation' %>
</div>

<div class="submission-form" id="user-profile-form">

	<%= form_for(@user, url: change_password_user_path) do |f| %>
	    <div class="form-input-box">
	    	<ul class="form-inputs">
        		<li class="form-element">
					<div class="field">
            			<div class="form-label">
							<%= f.label :password, "New password" %>
						</div>
            			<div class="form-input">
							<%= f.password_field :password %>
						</div>
					</div>
				</li>

        		<li class="form-element">
					<div class="field">
            			<div class="form-label">
							<%= f.label :password_confirmation %>
						</div>
            			<div class="form-input">
							<%= f.password_field :password_confirmation %>
						</div>
					</div>
				</li>

        		<li class="form-element">
					<div class="field">
            			<div class="form-label">
							<%= f.label :current_password %>
						</div>
            			<div class="form-input">
							<%= f.password_field :current_password %>
						</div>
					</div>
				</li>

        		<li class="form-element">
					<div class="actions">
			    		<%= f.submit "Change password" %>
			    	</div>
			    </li>
			</ul>
		</div>
	<% end %>
</div>