<% provide(:title, "Preferences") %>
<%= render 'shared/flash_messages' %>
<%= render 'shared/error_messages', object: @user %>

<%= render 'user_header' %>
<div class="edit-user-form-header">
	<h3 class="heading">Set my preferences</h3>
	<%= render 'user_setting_navigation' %>
</div>
<div class="submission-form" id="user-profile-form">

	<%= form_for(@user, url: preferences_user_path(@user)) do |f| %>
	    <div class="form-input-box">
	    	<ul class="form-inputs">
        		<li class="form-element">
					<div class="field">
            			<%= f.check_box :show_adult %><%= f.label :show_adult, "Show me adult content without checking." %>
					</div>
				</li>
        		<li class="form-element">
					<div class="field">
            			<%= f.check_box :site_updates %><%= f.label :site_updates, "Send email notifications when something new is posted on this website." %>
					</div>
				</li>
        		<li class="form-element">
					<div class="form-label">
						<%= f.label :languages, "Languages you wish to display" %>
					</div>
					<div class="field">
			    		<%= f.text_field :languages, class: "tags-input-field", data: { tagify: true } %>
			    	</div>
			    </li>
        		<li class="form-element">
					<div class="actions">
			    		<%= f.submit "Update", class: "submit-button" %>
			    	</div>
			    </li>
			</ul>
		</div>
	<% end %>
</div>