<% provide(:title, "#{@comic.title} - #{@comic.author}") %>
<% content_for :itemprop do %>
	<meta itemprop="image" content="<%= @comic.comic_pages.first.drawing.url %>">
	<meta property="og:image" content="<%= @comic.comic_pages.first.drawing.url %>">
<% end %>
<%= render 'shared/flash_messages' %>
<%= render 'shared/work_headings' %>
<div class="comic-display">
	<% @comic.comic_pages.each do |page| %>
		<h3 class="landmark">Page Management</h3>
		<% if @comic.user == current_user %>
			<ul class="actions page-actions">
				<li><%= link_to "Add page here", new_comic_page_at_path(@comic.id,page.page) %></li>
				<% if page.orientation == 'column' %>
					<li><%= link_to "Fit to screen", change_page_orientation_comic_path(page: page.page, orientation: 'screen'), method: :patch %></li>
				<% else %>
					<li><%= link_to "Fit to column", change_page_orientation_comic_path(page: page.page, orientation: 'column'), method: :patch %></li>
				<% end %>
				<% if @comic.comic_pages.count > 1 %>
					<li><%= link_to "Delete page below", delete_comic_page_path(@comic.id,page.page), method: :delete %></li>
				<% end %>
			</ul>
		<% end %>
		<div class="preface page-preface" id="page-<%= page.page %>">
			<h3 class="page-indicator" %>Page <%= page.page %>/<%= @comic.pages > 0 ? @comic.pages : '?' %></h3>
		</div>
		<div class="page-display">
			<% if page.page == 1 %>
				<a class="arrow non-arrow-left"></a>
			<% else %>
				<%= link_to "", comic_path(@comic, anchor: "page-#{page.page-1}"), class: "arrow arrow-left" %>
			<% end %>
			<%= link_to image_tag(page.drawing.url(:show_page), class: image_class(page.orientation)), page.drawing.url %>
			<% if page.page == @comic.comic_pages.count %>
				<a class="arrow non-arrow-right"></a>
			<% else %>
				<%= link_to "", comic_path(@comic, anchor: "page-#{page.page+1}"), class: "arrow arrow-right" %>
			<% end %>
		</div>
	<% end %>
	<% if @comic.user == current_user %>
		<ul class="actions page-actions">
			<li><%= link_to "Add page here", new_comic_page_path(@comic) %></li>
		</ul>
	<% end %>
</div>
<%= render 'shared/action_menu_bottom' %>
<%= render 'shared/kudos_display', work: @comic %>
<%= render 'shared/comment_form', commentable: @comic %>
<%= will_paginate @comments, class: "pagination actions", param_name: :comments_page %>
<%= render 'shared/comments', comments: @comments %>
<%= will_paginate @comments, class: "pagination actions", param_name: :comments_page %>