<div class="action-menu">
	<ul class="actions">
		<li><%= link_to "Post or view comments", "#new_comment" %></li>
		<% if controller_name == "comics" %>
			<% if action_name == "all" %>
				<li><%= link_to "Show only one page", @work %></li>
			<% else %>
				<li><%= link_to "Show all pages", show_all_comic_path(@work) %></li>
			<% end %>
		<% end %>
		<% if controller_name == "comics" && params[:page] %>
			<% if params['size'] == 'small' %>
				<li><%= link_to "Expand to page width", show_page_comic_path(@work, page: params[:page]), id: 'resize-link' %></li>
			<% else %>
				<li><%= link_to "Shrink to page height", show_page_comic_path(@work, page: params[:page], size: "small"), id: 'resize-link' %></li>
			<% end %>
		<% end %>
		<%# link_to "Expand to page width", show_all_comic_path(@work), id: 'resize-link' %>
		<%# link_to "Shrink to page height", show_all_comic_path(@work, size: "small"), id: 'resize-link' %>
		<%# link_to "Expand to page width", @work, id: 'resize-link' %>
		<%# link_to "Shrink to page height", polymorphic_path(@work, size: "small"), id: 'resize-link' %>
		<% if controller_name == 'comics' %>
			<li>
				<%= link_to "Add page(s)", new_comic_page_path(@work) if @work.user == current_user %>
			</li>
		<% end %>
		<li>
			<%= link_to "Edit details", send("edit_#{controller_name.singularize}_path", @work) if @work.user == current_user %>
		</li>
		<% if user_signed_in? %>
			<% if current_user.send("bookmarked_#{controller_name}").include? @work %>
				<li>
					<%= link_to "Remove bookmark", unbookmark_path(controller_name, @work), method: :delete %>
				</li>
			<% else %>
				<li>
					<%= link_to "Bookmark", bookmark_path(controller_name, @work), method: :post %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>