<% content_for :title, "Adult content" %>
<%= render 'shared/itemprop' %>
<p class="caution">This work could have adult content. If you proceed you have agreed that you are willing to see such content.</p>
<%= form_tag @work, method: :get do |f| %>
	<%= hidden_field_tag :view_adult, "true" %>
	<ul class="actions" role="navigation">
		<% if user_signed_in? %>
			<li>
				<%= check_box_tag :remember_preference %><%= label_tag :remember_preference, "Don't ask again" %>
			</li>
		<% end %>
		<li>
			<%= submit_tag "Proceed" %>
		</li>
		<li>
			<%= link_to "Go Back", "javascript:history.back()" %>
		</li>
	</ul>
<% end %>
<% unless user_signed_in? %>
	<p class="footnote">If you log in, you can store your preference and never be asked again.</p>
<% end %>