<%= form_for(@new_article, url: (local_assigns[:post_target].nil? ? articles_path : post_target ), html: { multipart: true }) do |f| %>
	<div class="main-form-body">
		<%= fields_for :new_page do |ff| %>
			<div class="main-posting-area">
				<%= ff.text_area :content, placeholder: local_assigns[:placeholder].nil? ? "New post here..." : placeholder %>
				<div class="posting-bottom-area">
					<div class="preview-area" id="preview-area"></div>
					<div class="posting-bottom-line">
						<div class="file-input">
							<%= ff.file_field :picture, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "new-post-pictures" %>
							<%= ff.label :picture, "Add picture(s)", class: "file-upload-label" %>
							<div class="file-input-option">
								<%= fields_for :options do |o| %>
							       <%= o.check_box :new_pages %>
							       <%= o.label :new_pages, "Put these images in separate pages" %>
							    <% end %>
							</div>
						</div>
						<%= f.submit "Post", class: "make-new-post submit-button" %>
					</div>
				</div>
			</div>
		<% end %>
		<div class="extra-posting-options">
			<ol class="additional-options-list">
				<%= fields_for :tags do |t| %>
					<h2 class="optional-info-header"><span>Optional info</span></h2>
					<div class="optional-info-area">
						<% unless user_signed_in? %>
							<li><%= f.label :display_name %><%= f.text_field :display_name %></li>
							<li><%= f.label :editing_password %><%= f.text_field :editing_password %></li>
						<% end %>
						<li><%= f.label :title %><%= f.text_field :title %></li>
						<li><%= f.label :description %><%= f.text_area :description, id: "description-box" %></li>
						<li>
							<ol class="posting-tag-inputs">
								<li><h4 class="optional-info-heading">Tags</h4></li>
								<li class="media-type-listing">
									<span><%= t.radio_button :media, 'Status', checked: true %> <%= t.label :media_status, "Status" %></span>
									<span><%= t.radio_button :media, 'Story' %> <%= t.label :media_story, "Story" %></span>
									<span><%= t.radio_button :media, 'Drawing(s)', id: :tags_media_drawing %> <%= t.label :media_drawing, "Drawing(s)" %></span>
									<span><%= t.radio_button :media, 'Comic' %> <%= t.label :media_comic, "Comic" %></span>
								</li>
								<% ArticleTag.tag_box_contexts.each do |context| %>
									<li><%= t.label context[:name] %> <%= t.text_field context[:context], class: "tags-input-field", data: { tagify: true, context: context[:context] } %></li>
								<% end %>
							</ol>
						</li>
					</div>
				<% end %>
			</ol>
		</div>
	</div>
<% end %>