<li class="work-summary">
	<%= link_to (image_tag thumbnail_image(work), class: evaluate_adult(work)), work %>
	<p class="datetime"><%= outer_date_display(work) %></p>
	<ul class="summary-info">
		<li><%= link_to work.title, work, class: "title-link" %>
			(<ul class="outer-fandom-list">
				<% work.fandom_list.each do |fandom| %>
					<%= link_to fandom, works_search_path(tags: fandom), class: "tag" %>
				<% end %>
			</ul>)
			by <%= author_link work %></li>
		<% if work.character_list.any? || work.relationship_list.any? || work.fandom_list.any? %>
			<li>
				<%= summary_display_links(work) %>
			</li>
		<% end %>
		<li><%= simple_format sanitize work.description, tags: %w(strong em a), attributes: %w(href) %></li>
	</ul>
	<div class="landmark"></div>
	<div class="stats-container">
		<ul class="stats">
			<%= render 'shared/basic_stats', work: work %>
		</ul>
	</div>
</li>