<% provide(:title, "Edit signal_boost") %>
<%= render 'shared/flash_messages' %>
<div class="submission-form" id="post-drawing-form">
  <%= form_for(@signal_boost, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
    <h2 class="heading">Edit signal boost</h2>

    <div class="form-input-box posting-form-unit">
      <ul class="form-inputs clear">
        <li class="form-element">
          <div class="field">
            <div class="form-label">
              <%= f.label :comment, "Comment" %>
            </div>
            <div class="form-input">
              <%= f.text_area :comment, placeholder: "Add comment here...", class: "page-content-input" %>
            </div>
          </div>
          <div class="field">
            <div class="form-label">
              <%= f.label :picture_label, "Additional picture(s)" %>
            </div>
            <div class="form-input file-input-area">
              <div class="preview-area"></div>
              <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "new-post-pictures" %>
              <%= f.label :picture, "Choose picture(s)", class: "file-upload-label edit-form-buttons hidden-label" %>
            </div>
          </div>
        </li>
        <li class="form-element">
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

</div>

<div class="status-quotation">
  <%= render 'statuses/article_listing', article: @article %>
</div>