<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<%= render 'shared/posting_form' %>
<div class="module">
	<h3 class="heading">Note</h3>
	This website is not related in any way to the website "Archive of Our Own." There are plans under way to eventually change the colors and feel of the site.
</div>
<% if false && @feed_statuses.present? %>
	<div class="module">
		<h3 class="heading">Latest from your followed users:</h3>
		<ol class="status-list">
			<%= render @feed_statuses %>
		</ol>
	</div>
<% end %>
<% if @all_statuses.present? %>
	<div class="module">
		<% if user_signed_in? %>
			<h3 class="heading">More from all users:</h3>
		<% else %>
			<h3 class="heading">Latest:</h3>
		<% end %>
		<ol class="status-list">
			<%= render @all_statuses %>
		</ol>
	</div>
<% end %>

<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->