<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<div class="module">
	<h3 class="heading">Please support this new website!</h3>
	<p class="note">If there's any works that you liked, be sure to give a kudos and leave a comment! If you have any works of your own to submit, feel free to signup (link the the top-right corner) to submit. No level of quality is required! Even if you've never drawn before, there are several tutorials on this site that can help you get started.</p>
	<p class="note">More drawing tutorials will be translated on the basis of how much it appears people are using them.</p>
	<p class="note">As this is a new site, you can also support it by telling those you think would be interested about it.</p>
	<p class="note"><a href="https://discord.gg/37aztWz">Link to discord server</a></p>
	<h3 class="heading">Find your favorites</h3>
	<p class="note">Browse fandoms!</p>
	<% if @fandoms_comics.any? %>
		<p class="note">Fancomics:</p>
		<ul class="front-fandom-list">
			<% @fandoms_comics.each do |fandom| %>
				<li><%= link_to "#{fandom.name}", comics_by_tags_path(fandom.name) %> (<%= fandom.count %>)</li>
			<% end %>
		</ul>
	<% end %>
	<% if @fandoms_drawings.any? %>
		<p class="note">Fanart:</p>
		<ul class="front-fandom-list">
			<% @fandoms_drawings.each do |fandom| %>
				<li><%= link_to "#{fandom.name}", drawings_by_tags_path(fandom.name) %> (<%= fandom.count %>)</li>
			<% end %>
		</ul>
	<% end %>
</div>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<% if @feed_comics && @feed_comics.any? %>
	<div class="module">
		<h3 class="heading">Latest fancomics from your subscriptions</h3>
		<%= render 'shared/comics_list', comics: @feed_comics %>
	</div>
<% end %>
<% if @feed_drawings && @feed_drawings.any? %>
	<div class="module">
		<h3 class="heading">Latest fanart from your subscriptions</h3>
		<%= render 'shared/drawings_list', drawings: @feed_drawings %>
	</div>
<% end %>
<div class="module">
	<h3 class="heading">Latest fanart</h3>
	<%= render 'shared/drawings_list', drawings: @drawings %>
</div>
<div class="module">
	<h3 class="heading">Latest fancomics</h3>
	<%= render 'shared/comics_list', comics: @comics %>
</div>
<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->