<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<%= render 'shared/posting_form' %>
<% if false %>
	<div class="module">
		<h3 class="heading">Browse by tag:</h3>
		<ul>
			<% ArticleTag.front_page_contexts.each do |context| %>
				<li>
					<div class="info-label"><%= context[:name] %>:</div>
					<div class="info tag-list">
						<% ArticleTag.get_top_tags(context[:context],40).each do |tag| %>
							<span class="tag-wrapper"><%= link_to "#{tag.name} (#{tag.article_count})", articles_path(tags: tag.name), class: "tag" %></span>
						<% end %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<% if false && @feed_statuses.present? %>
	<div class="module">
		<h3 class="heading">Latest from your followed users:</h3>
		<%= render @feed_statuses %>
	</div>
<% end %>
<div class="main-page">
  <% if @all_statuses.present? %>
    <div class="module">
      <% if false && @feed_statuses.present? && user_signed_in? %>
        <h3 class="heading">More from all users:</h3>
        <h3 class="heading">Latest posts:</h3>
      <% else %>
      <% end %>
      <ol class="status-list">
        <%= render @all_statuses %>
      </ol>
      <%= will_paginate @all_statuses, class: "pagination actions", param_name: :page %>
    </div>
  <% end %>
  <div class="message-list">
    <% @messages.each do |message| %>
      <div class="message-item">
        <div class="message-user-display"><b><%= image_tag message.avatar_url, class: 'message-avatar' %><%= message.user_name %></b></div>
        <div class="message-content">
          <%= insert_references message.content %>
        </div>
        <div class="message-embeds">
          <% if message.embeds.any? %>
            <% message.embeds.each do |embed| %>
              <div class="embed-description"><%= embed.description %></div>
              <% if embed.image_url? %>
                <%= image_tag embed.image_url, class: 'message-image' %>
              <% elsif embed.image_proxy_url? %>
                <%= image_tag embed.image_proxy_url, class: 'message-image' %>
              <% elsif embed.url.include?('www.facebook.com') %>
                <iframe src="<%= "https://www.facebook.com/plugins/video.php?href=#{URI.escape(embed.url)}&show_text=false" %>" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
              <% elsif embed.video_url? %>
                <% if URI.parse(embed.video_url).host == 'www.youtube.com' %>
                  <iframe width="560" height="315" src="<%= embed.video_url %>" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% else %>
                  <video class="message-video" controls loop><source src="<%= embed.video_url %>" /></video>
                <% end %>
              <% else %>
                <%= image_tag embed.url, class: 'message-image' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if message.attachments.any? %>
          <% message.attachments.each do |attachment| %>
            <% if attachment.url? %>
              <%= image_tag attachment.url, class: 'message-image' %>
            <% end %>
          <% end %>
        <% end %>
        <div class="message-reactions">
          <% message.reactions.each do |reaction| %>
            <% if reaction.emoji_url %>
              <%= image_tag reaction.emoji_url, class: 'reaction-emoji-image' %>
            <% else %>
              <%= reaction.emoji_name %>
            <% end %>
            <%= reaction.count %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->
