<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<div class="module">
	<h3 class="heading">Find your favorites</h3>
	<p class="note">Browse fandoms!</p>
		<ul class="front-fandom-list">
			<% @fandoms.each do |fandom| %>
				<li><%= link_to "#{fandom.name}", drawings_by_tags_path(fandom.name) %> (<%= fandom.taggings_count %>)</li>
			<% end %>
		</ul>
</div>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<% if @feed_comics && @feed_comics.any? %>
	<div class="module">
		<h3 class="heading">Latest fancomics from your subscriptions</h3>
		<%= render 'shared/comics_list', comics: @feed_comics %>
	</div>
<% end %>
<% if @feed_drawings && @feed_drawings.any? %>
	<div class="module">
		<h3 class="heading">Latest fanart from your subscriptions</h3>
		<%= render 'shared/drawings_list', drawings: @feed_drawings %>
	</div>
<% end %>
<div class="module">
	<h3 class="heading">Latest fancomics</h3>
	<%= render 'shared/comics_list', comics: @comics %>
</div>
<div class="module">
	<h3 class="heading">Latest fanart</h3>
	<%= render 'shared/drawings_list', drawings: @drawings %>
</div>
<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->