<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<%= render 'shared/posting_form' %>
<% if false %>
	<div class="module">
		<h3 class="heading">Browse by tag:</h3>
		<ul>
			<% ArticleTag.front_page_contexts.each do |context| %>
				<li>
					<div class="info-label"><%= context[:name] %>:</div>
					<div class="info tag-list">
						<% ArticleTag.get_top_tags(context[:context],40).each do |tag| %>
							<span class="tag-wrapper"><%= link_to "#{tag.name} (#{tag.article_count})", articles_path(tags: tag.name), class: "tag" %></span>
						<% end %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<% if false && @feed_statuses.present? %>
	<div class="module">
		<h3 class="heading">Latest from your followed users:</h3>
		<%= render @feed_statuses %>
	</div>
<% end %>
<div class="main-page">
  <% if @all_statuses.present? %>
    <div class="module">
      <% if false && @feed_statuses.present? && user_signed_in? %>
        <h3 class="heading">More from all users:</h3>
        <h3 class="heading">Latest posts:</h3>
      <% else %>
      <% end %>
      <ol class="status-list">
        <%= render @all_statuses %>
      </ol>
      <%= will_paginate @all_statuses, class: "pagination actions", param_name: :page %>
    </div>
  <% end %>
  <div class="message-list">
    <% @messages.each do |message| %>
      <%= render 'leaderboard/message_item', message: message %>
    <% end %>
  </div>
</div>

<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->
