<% provide(:title, "Replace page") %>
<div class="submission-form" id="post-drawing-form">
  <%= form_for(@comic_page, html: { multipart: true }, url: edit_page_comic_path(@comic, @comic_page.page)) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
    <h2 class="heading">Replace page</h2>

    <div class="form-input-box">
      <ul class="form-inputs clear">
        <li class="form-element">
          <div class="field">
            <div class="form-label">
              <%= f.label :new_page, "New page(s)" %>
            </div>
            <div class="form-input">
              <%= f.file_field :new_page, accept: 'image/jpeg,image/gif,image/png', multiple: true %>
            </div>
            <div class="form-label">
              <%= f.label :orientation %>
            </div>
            <div class="form-input">
              <%= f.radio_button :orientation, "screen" %><%= f.label :orientation_screen, "Fit to screen" %>
              <%= f.radio_button :orientation, "column" %><%= f.label :orientation_column, "Fit to column" %>
            </div>
          </div>
        </li>
        <li class="form-element">
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>

</div>