<div class="submission-form" id="resend-confirmation-form">

	<%= form_for(resource, as: resource_name, url: reset_password_path, html: { method: :post }) do |f| %>
		<legend><h3 class="heading">Forgotten your password?</h3></legend>

		<div class="form-input-box">
			<ul class="form-inputs">
				<li class="form-element">
					<div class="field">
						<div class="form-label">
							<%= f.label :email %>
						</div>
            			<div class="form-input">
							<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
						</div>
					</div>
				</li>

				<li class="form-element">
					<div class="actions">
						<%= f.submit "Send me reset password instructions" %>
					</div>
				</li>
			</ul>
		</div>
	<% end %>

	<%= render "users/shared/links" %>
</div>