<nav id="greeting">
	<ul class="user-navigation-actions nav navbar-nav">
		<% if user_signed_in? %>
			<li><%= link_to "Hi, #{current_user.name}!", current_user %></li>
			<li><%= link_to "Post fancomic", new_comic_path %></li>
			<li><%= link_to "Post fanart", new_drawing_path %></li>
			<li><%= link_to "Logout", logout_path %></li>
		<% else %>
			<li><%= link_to "Login", login_path %></li>
		<% end %>
	</ul>
</nav>