<nav id="greeting">
	<ul class="user-navigation-actions">
		<% if user_signed_in? %>
                        <li id="create-series-button"></li>
			<li><%= link_to "Hi, #{current_user.name}!", current_user %></li>
			<li><%= link_to "Preferences", preferences_user_path(current_user) %></li>
			<li><%= link_to "Logout", logout_path %></li>
		<% else %>
			<li><%= link_to "Login", login_path %></li>
			<li><%= link_to "Signup", signup_path %></li>
		<% end %>
	</ul>
</nav>
