<header class="navbar navbar-light top-header">
  <div class="clear">
    <div class="clear">
      <h1 class="heading">
        <%= link_to "Fancomics", root_path, id: "logo" %>
      </h1>
      <%= render 'layouts/greeting' %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-left primary-navigation">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Browse",   '#' %></li>
        <li><%= link_to "About", '#' %></li>
      </ul>
    </nav>
    <div class="clear"></div>
    <div></div>
  </div>
</header>