<header class="fancomics-header">
  <div class="header-container">
    <div class="upper-header">
      <h1 class="heading">
        <%= link_to "WindyFall", root_path, id: "logo" %>
      </h1>
      <%= render 'layouts/greeting' %>
    </div>
    <nav class="lower-header">
      <ul class="primary-navigation">
        <li><%= link_to "Latest", root_path %></li>
        <li><%= link_to "Discord", discord_path %></li>
        <li><%= link_to "Leaderboard", leaderboard_path%></li>
        <li><%= link_to "Contribute via ko-fi", ['https://ko-fi.com/rudytudysubs', 'https://ko-fi.com/mmagtranslations'].sample %></li>
      </ul>
      <%= form_tag articles_path, method: :get, id: 'search-works-form' do %>
        <label class="landmark" for="site_search">Article Search:</label>
        <%= text_field_tag "tags", "", class: "site-search", data: { tagify: true } %>
        <div class="search-button">
          <label>
            <%= submit_tag "Search", id: 'search' %>
            <svg viewBox="0 0 24 24" class="post-option"><g><path d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"></path></svg></g></svg>
        </span>
      <% end %>
    </nav>
    <div class="clear"></div>
    <div></div>
  </div>
  <!-- <nav class="board-list">
    <ul class="secondary-navigation">
    </ul>
  </nav> -->
</header>
<!--<div id="windyfall-area">
	<div id="windyfall-pane">
		<%= button_tag "Gather green onions", class: "gather-button", data: { gathering: "Green onion" } %>
		<%= button_tag "Gather tuna", class: "gather-button", data: { gathering: "Tuna" } %>
	</div>
</div>-->
