<header class="fancomics-header">
  <div class="header-container">
    <div class="upper-header">
      <h1 class="heading">
        <%= link_to "Imagination Space", root_path, id: "logo" %>
      </h1>
      <%= render 'layouts/greeting' %>
    </div>
    <nav class="lower-header">
      <ul class="primary-navigation">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Latest",   articles_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
      <%= form_tag articles_path, method: :get, id: 'search-works-form' do %>
        <label class="landmark" for="site_search">Article Search:</label>
        <%= text_field_tag "tags", "", class: "site-search", data: { tagify: true } %>
        <span class="search-button actions"><%= submit_tag "Search", id: 'search' %></span>
      <% end %>
    </nav>
    <div class="clear"></div>
    <div></div>
  </div>
</header>